* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary_color: #191919;
  --secondary_color: #bc3f01;
  --text_color: #f6f3ff;
  --hover: #f98f5a;
}
canvas {
  background-color: #111;
}

body {
  background-color: var(--primary_color);
  color: var(--text_color);
}
main {
  min-height: 100vh;
  margin-top: 60px;
}
a {
  text-decoration: none;
  color: var(--secondary_color);
}
a:hover {
  color: var(--hover);
}
li {
  list-style: none;
}
